@import "colors.css";

* {
  border: none;
  border-radius: 5px;
  font-family: "Space Grotesk", "monospace";
  font-weight: bold;
}
window#waybar {
  background: @opacity;
  color: @text;
}
tooltip {
  background: @base;
  border-radius: 10px;
}
tooltip label {
  color: @text;
}


#window {
  color: @surface;
  margin-left: 5px;
}
#submap {
  color: @surface;
}

#workspaces {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px; 
  margin-bottom: 5px;
  background: @background;
}
#workspaces button {
  padding: 0px 5px;
  color: @surface;
  border-radius: 5px;
}
#workspaces button.active {
  background: @surface;
}
#workspaces button.active label {
  font-weight: bolder;
  color: @base;
}


#submap,
#mpris,
#clock,
#tray,
#custom-pacman,
#upower {
  padding: 0px 5px;
  margin: 5px;
}
#mpris,
#clock,
#tray
{
  background: @background;
  padding: 0px 8px;
}


#mpris.paused {
  background: rgba(0, 0, 0, 0.5);
}
#mpris.playing {
  background: @teal;
  color: @base;
}
#upower {
  color: @green;
}
#upower:hover {
 background: @green;
 color: @base;
}
#clock:hover {
 background: @surface;
 color: @base;
}


#custom-pacman {
  color: @sky;
}
#custom-pacman:hover {
    background: @sky;
    color: @base;
}

#custom-power {
  color: @red;
  font-size: 10pt;
  margin-right: 5px;
  margin-left: 5px;
}
#custom-power:hover {
  color: @orange;
}

#custom-dnd {
 color: @blue;
 font-size: 11pt;
 margin-left: 5px;
 margin-right: 8px;
}
#custom-dnd:hover {
 color: @sky;
}
