    * {
    font-size: 10pt;
    }

    window {
    margin: 0px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    }
    
    #input {
    margin: 5px;
    border: none;
    color: #f8f8f2;
    background-color: rgba(255, 255, 255, 0.1);
    }
    
    #inner-box {
    margin: 5px;
    border: none;
    background-color: transparent;

    }
    
    #outer-box {
    margin: 5px;
    border: none;
    background-color: transparent;
    }
    
    #scroll {
    margin: 0px;
    border: none;
    }
    
    #text {
    margin: 5px;
    border: none;
    color: #f8f8f2;
    } 
    
    #entry.activatable #text {
    color: #ffffff;
    }
    
    #entry > * {
    color: #ffffff;
    }
    
    #entry:selected {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    border: none;
    }
    
    #entry:selected #text {
    }
    
    #expander-box {
    background: rgba(255, 255, 255, 0.1);
    }
